* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  color: black;
  background-color: white;
  /* padding-top: 7rem; */
}

img {
  height: 100%;
  width: 100%;
  background-size: cover;
}

header {
  background-image: repeating-linear-gradient( 315deg, #3B3B3B, #3B3B3B 2px, #454545 4px, #454545 4px);
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: .5rem;
  border-bottom: 3px solid #303030;

  & .logo {
    width: 180px;
    height: min-content;
  
  }
  
  & .contact {
    display: flex;
    list-style: none;
    gap: .5rem;
    align-items: center;
  }
}

header .contact li {
  max-width: 20px;
  height: min-content;
  background-color: transparent;
}

header .contact img {
  filter: invert(100%);

  &:hover {
    filter: invert(70%) sepia(60%);
  }
}

nav {
  display: flexbox;
  justify-content: space-between;
  height: 5rem;
  padding: 0 6rem;
  font-weight: 500;
  background-color: #303030;
  color: #D0D0D0;
  font-size: .95rem;
  
  & .menus {
    display: flex;
    justify-content: space-between;
    position: relative;
    list-style: none;
    height: 100%;
    align-items: center;
    
    & li {
      display: inline-flex;
      position: relative;
      cursor: pointer;
      height: 100%;
      align-items: center;
    }

    & :is(li:nth-child(4), li:nth-child(4):hover) > .expand-tit {
      display: flexbox;
      margin: 0 auto;
      translate: -40% 0;
      background-color: #303030ee;
    }

    & :is(li:nth-child(5), li:nth-child(5):hover) > .expand-tit {
      display: block;

      & > * {
        text-transform: capitalize;
      }
    }
    
    & li:has(span) > .expand-tit {
      position: absolute;
      display: flex;
      border-radius: 3px;
      background-color: #30303000;
      visibility: hidden;
      top: 0;
      transform: translateY(4rem);
      min-width: 10rem;
      min-height: 5rem;
      height: fit-content;
      padding: 1rem;
      gap: 3rem;
      pointer-events: none;
      transition: all .3s;
      align-items: flex-start;

      & .expand-submenu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        word-break: break-all;
      }
    }
    
    & li:has(span):hover > .expand-tit {
      visibility: visible;
      transform: translateY(5rem);
      background-color: #303030dd;
      pointer-events: all;

    }

    & li:has(span) .expand-menu-part {
      width: 12rem;
      display: flex;
      flex-wrap: wrap;
    }

    & li span::after {
      padding: .4rem;
      content: '›';
      position: absolute;
      transform: rotate(90deg) translateX(-10%);
      font-size: .8rem;
    }

    & li span:hover::after {
      padding: .4rem;
      content: '×';
      position: absolute;
      transform: rotate(90deg) translate(-5%, 5%);
      font-size: .6rem;
    }
  }
  
  
  & .burguer {
    display: flex;
    justify-content: space-around;
  }
  
  & a {
    text-decoration: none;
    color: inherit;
  }

  & .menus > *:hover {
    color: white;
    transition: all .2s;
  }
}