* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  color: black;
  background-color: white;
  /* padding-top: 7rem; */
  /* background-color: #303030; */
}

img {
  height: 100%;
  width: 100%;
  background-size: cover;
}


header {
  background-image: repeating-linear-gradient( 315deg, #3B3B3B, #3B3B3B 2px, #454545 4px, #454545 4px);
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: .5rem;
  border-bottom: 3px solid #303030;

  & .logo {
    width: 180px;
    height: min-content;
  
  }
  
  & .contact {
    display: flex;
    list-style: none;
    gap: .5rem;
    align-items: center;
  }
}

header .contact li {
  max-width: 20px;
  height: min-content;
  background-color: transparent;
}

header .contact img {
  filter: invert(100%);

  &:hover {
    filter: invert(70%) sepia(60%);
  }
}

